body{
    background: black;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    width: 410px;
    height: 590px;
    background: white;
    border-radius: 20px;
    border: white 1px solid;
    box-shadow: 0 10px 10px grey;
}

.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(Abdur.png);
    background-size: cover;
    margin: 20px 0 0 20px;
}

h1{
    font-size: 40px;
    margin-left: 20px;
}

.occupation p{ 
    color: grey;
    font-size: 18px;
    margin-left: 20px;
    margin-top: -25px;
}

.platform a i{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 20px;
    margin-top: -25px;
}

 .description p{
    padding: 0 20px 0 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

button{
    height: 60px;
    width: 200px;
    border: black 1px solid;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

button:hover{
    height: 90px;
    width: 300px;
    background-color: black;
}

.instagram a{
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
}

.linkedin a{
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
}

.linkedin a:hover{
    color: #0B65C2;
    font-size: 24px;
    font-weight: 800;
}

.instagram a:hover {
    color: #D301C5;
    font-size: 24px;
    font-weight: 800;
}