body{
    background: black;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    width: 410px;
    height: 590px;
    background: white;
    border-radius: 20px;
    border: white 1px solid;
    box-shadow: 0 10px 10px grey;
}

.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(Abdur.png);
    background-size: cover;
    margin: 20px 0 0 20px;
}

h1{
    font-size: 40px;
    margin-left: 20px;
}

.occupation p{ 
    color: grey;
    font-size: 18px;
    margin-left: 20px;
    margin-top: -25px;
}

.platform a i{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 20px;
    margin-top: -25px;
}

 .description p{
    padding: 0 20px 0 20px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

button{
    height: 60px;
    width: 200px;
    border: black 1px solid;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

button:hover{
    height: 90px;
    width: 300px;
    box-shadow: gray 0px 0px 10px;
}

.instagram a{
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    text-decoration: none;
    color: purple;
    display: inline;
    height: 100%;
}

.linkedin a{
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    text-decoration: none;
    color: #0B65C2;
    display: inline;
}

.linkedin a:hover{
    box-shadow: 0 0 10px #0B65C2;
    scale: 1.2;
}

.instagram a:hover{
    box-shadow: 0 0 10px purple;
    scale: 1.2;
}